body {
    background: var(--WHITE, #FFF);
    color: #434455;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    }

ul {
    list-style: none;
}

a {text-decoration: none;
}

button {
    cursor: pointer;  
}


.navigation-content .adress-content {
border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
background: var(--WHITE, #FFF);}


.titel-text{color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
   
    .titel-text-part{color: var(--NAVY-BLUE, #2E2F42);
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-top: 25.5px;
        margin-bottom: 25.5px;
        margin-left: 200px;
        margin-right: 1169px;}

        .navigation-title-contacts a:hover {
            color: #404bbf
        }
            

    
    .navigation-studio {color: var(--NAVY-BLUE, #2E2F42);
                
                    /* Body Medium */
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    }
        
                .navigation-portfolio 
                {color: var(--NAVY-BLUE, #2E2F42);
                    /* Body Medium */
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    }
        
                .navigation-contacts {
                    color: var(--NAVY-BLUE, #2E2F42);
                    /* Body Medium */
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    }
                    .adress-main{
                        font-style: normal;}

                .adress-content{color: var(--SLATE, #434455);}
                
                .adress-mail {
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.02em;}
        
                .adress-tel {
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.02em;}

        .section-advantages-content {
        background: var(--NAVY-BLUE, #2E2F42);
        text-align: center;}
               
        .section-advantages-topic {
            color: var(--WHITE, #FFF);
                    text-align: center;
                
                    /* Header 1 */
                    font-family: Roboto;
                    font-size: 56px;
                    font-weight: 700;
                    line-height: 1.07;
                    letter-spacing: 0.02em;
                }
        
                .section-advantages-main-button {
                    color: var(--WHITE, #FFF);
                    /* Button Text */
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 0.04em;
                    border-radius: 4px;
                    background: var(--IRIS, #4D5AE5);
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
                }
        
                .section-advantages-title {
                    color: var(--NAVY-BLUE, #2E2F42);
                    /* Header 3 */
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: 0.02em;}
        
                .section-advantages-text {
                    color: var(--SLATE, #434455);
                    /* Body */
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.02em;}

                .section-team-content {
                    background: var(--CLOUD, #F4F4FD);}
        
                .section-team-topic {
                    color: var(--NAVY-BLUE, #2E2F42);
                    text-align: center;
                
                    /* Header 2 */
                    font-family: Roboto;
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 1.11;
                    letter-spacing: 0.02em;
                    text-transform: capitalize;}

                     .section-team-subtopic { 
                        border: 1px solid var(--CORNFLOWER, #E7E9FC);
                        background: var(--WHITE, #FFF);}
        
                .section-team-img {
                    width: 264px;
                    height: 260px;}
        
                .section-team-name {
                    color: var(--NAVY-BLUE, #2E2F42);
                    text-align: center;
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: 0.02em;}
        
                .section-team-wark {
                    color: var(--SLATE, #434455);
                    text-align: center;
                    /* Body */
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.02em;}
        
                .section-warck-topic {
                    color: var(--NAVY-BLUE, #2E2F42);
                    text-align: center;
                    /* Header 2 */
                    font-family: Roboto;
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 1.11;
                    letter-spacing: 0.02em;
                    text-transform: capitalize;}

                      .section-team-subtopic { 
                        border: 1px solid #E7E9FC;
                        background:  #FFF;}
        
                .section-warck-img {
                    width: 360px;
                    height: 300px;
                    flex-shrink: 0;}
        
                .section-warck-title {color: var(--NAVY-BLUE, #2E2F42);
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: 0.02em;}

                    .section-warck-title-bank{color: var(--NAVY-BLUE, #2E2F42);
                        font-family: Roboto;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1.2;
                        letter-spacing: 0.02em;}
                    .section-warck-title-cachless{color: var(--NAVY-BLUE, #2E2F42);
                        font-family: Roboto;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1.2;
                        letter-spacing: 0.02em;}
                    .section-warck-title-meditation{color: var(--NAVY-BLUE, #2E2F42);
                        font-family: Roboto;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1.2;
                        letter-spacing: 0.02em;}
                    .section-warck-title-taxi{color: var(--NAVY-BLUE, #2E2F42);
                        font-family: Roboto;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1.2;
                        letter-spacing: 0.02em;}                  
                    .section-warck-title-screen {color: var(--NAVY-BLUE, #2E2F42);
                        font-family: Roboto;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1.2;
                        letter-spacing: 0.02em;}
                    .section-warck-title-online {color: var(--NAVY-BLUE, #2E2F42);
                        font-family: Roboto;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1.2;
                        letter-spacing: 0.02em;}
                        
                        .section-warck-text-bank{
                            color: var(--SLATE, #434455);
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 1.5;
                            letter-spacing: 0.02em;}
                            .section-warck-text-cachless{
                            color: var(--SLATE, #434455);
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 1.5;
                            letter-spacing: 0.02em;}
                    .section-warck-text-meditation {
                        color: var(--SLATE, #434455);
                        font-family: Roboto;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.5;
                        letter-spacing: 0.02em;
                    }
                         .section-warck-text-taxi {
                             color: var(--SLATE, #434455);
                             font-family: Roboto;
                            font-size: 16px;
                             font-weight: 400;
                             line-height: 1.5;
                             letter-spacing: 0.02em;
                                        }
                            .section-warck-text-screen {
                                color: var(--SLATE, #434455);
                                font-family: Roboto;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 1.5;
                                letter-spacing: 0.02em;
                            }
                .section-warck-text-online {
                    color: var(--SLATE, #434455);
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                }

        
                      .footer-text-part{   color: var(--CLOUD, #F4F4FD);
                         font-family: Raleway ;
                         font-size: 18px;
                         font-style: normal;
                         font-weight: 700;
                         line-height: 1.17;
                         letter-spacing: 0.03em;
                         text-transform: uppercase;}
        
                .footer-text {color: var(--CLOUD, #F4F4FD);
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.02em;}