body {
    background: var(--WHITE, #FFF);
    font-family: 'Raleway', sans-serif;
        font-family: 'Roboto', sans-serif;
    }

ul {
    list-style: none;
}

a {text-decoration: none;
}

button {
    cursor: pointer;  
}


.navigation-content .adress-content {border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
background: var(--WHITE, #FFF);}


.titel-text{color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03px;
    text-transform: uppercase;
}
   
    .titel-text-part{color: var(--NAVY-BLUE, #2E2F42);
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03px;
        text-transform: uppercase;
        margin-top: 25.5px;
        margin-bottom: 25.5px;
        margin-left: 200px;
        margin-right: 1169px;}

        .navigation-title-contacts {margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 347px;
        margin-right: 832px;
        }
            

    
    .navigation-studio {color: var(--NAVY-BLUE, #2E2F42);
                
                    /* Body Medium */
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 0.02px;
                    }
        
                .navigation-portfolio {color: var(--NAVY-BLUE, #2E2F42);
                
                    /* Body Medium */
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 0.02px;
                    }
        
                .navigation-contacts {color: var(--NAVY-BLUE, #2E2F42);
                
                    /* Body Medium */
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 0.02px;
                    }
        
                .adress-mail {color: var(--SLATE, #434455);
                
                    /* Body */
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.02px;}
        
                .adress-tel {color: var(--SLATE, #434455);
                
                    /* Body */
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.02px;}

        .section-advantages-content {background: var(--NAVY-BLUE, #2E2F42);
        text-align: center;}
               
        .section-advantages-topic {color: var(--WHITE, #FFF);
                    text-align: center;
                
                    /* Header 1 */
                    font-family: Roboto;
                    font-size: 56px;
                    font-weight: 700;
                    line-height: 1.07;
                    letter-spacing: 0.02px;
                }
        
                .section-advantages-main-button {color: var(--WHITE, #FFF);
                
                    /* Button Text */
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 0.04px;
                }
        
                .section-advantages-title {color: var(--NAVY-BLUE, #2E2F42);
                
                    /* Header 3 */
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: 0.02px;}
        
                .section-advantages-text {color: var(--SLATE, #434455);
                
                    /* Body */
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.02px;}

                .section-team-content {background: var(--CLOUD, #F4F4FD);}
        
                .section-team-topic {color: var(--NAVY-BLUE, #2E2F42);
                    text-align: center;
                
                    /* Header 2 */
                    font-family: Roboto;
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 1.11;
                    letter-spacing: 0.02pxpx;
                    text-transform: capitalize;}
        
                .section-team-img {width: 264px;
                    height: 260px;}
        
                .section-team-name {color: var(--NAVY-BLUE, #2E2F42);
                    text-align: center;
                
                    /* Header 3 */
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: 0.02px;}
        
                .section-team-wark {color: var(--SLATE, #434455);
                    text-align: center;
                
                    /* Body */
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.02px;}
        
                .section-wark-topic {color: var(--NAVY-BLUE, #2E2F42);
                    text-align: center;
                
                    /* Header 2 */
                    font-family: Roboto;
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 1.11;
                    letter-spacing: 0.02px;
                    text-transform: capitalize;}
        
                .section-wark-img {width: 360px;
                    height: 300px;
                    flex-shrink: 0;}
        
                .section-wark-title {color: var(--NAVY-BLUE, #2E2F42);
                
                    /* Header 3 */
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: 0.02px;}
        
                .section-wark-text {color: var(--SLATE, #434455);
                
                    /* Body */
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.02px;}
        
                      .footer-text-part{   color: var(--CLOUD, #F4F4FD);
                         font-family: Raleway;
                         font-size: 18px;
                         font-style: normal;
                         font-weight: 700;
                         line-height: 1.16;
                         letter-spacing: 0.03px;
                         text-transform: uppercase;}
        
                .footer-text {color: var(--CLOUD, #F4F4FD);
                
                    /* Body */
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.02px;}