body {
    background: #FFF;
    color: #434455;
    font-family: 'Roboto', sans-serif;
    }

ul {
    list-style: none;
}

a {text-decoration: none;
}

button {
    cursor: pointer;  
}
p, h1, h2, h3{
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}

.navigation-content {
background:  #FFF;}

.container{
    width: 1158px;
    padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

.nav-container{padding-top: 25px;
padding-bottom: 25px;}

.titel-text{color:  #4D5AE5;
    font-family: 'Raleway',
        sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
   
    .titel-text-part{color:  #2E2F42;
        font-family: 'Raleway',
            sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        }

        .navigation-title-contacts:hover .navigation-title-contacts:focus {
            color: #404bbf;
            font-style: normal;   
        }
         .navigation-item:hover,
        .navigation-item:focus {
                            color: #404bbf;
                        }

    
    .navigation-item {color:#2E2F42;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    }
        
           .adreess-main{font-style: normal;}
                    
     .adreess-main .adress-link{
        font-size: 16px;
         color: #434455;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;}

                  .adress-link:hover,
                  .adress-link:focus {
                      color: #404bbf;
                    font-style: normal;
                  }
                 
.advantage-container{padding-left: 472px;
padding-top: 188px;
padding-right: 472px;
padding-bottom: 292px;}

        .section-advantages-content {
        background:  #2E2F42;
        text-align: center;}

        .advantage{
            padding-top: 120px;
            padding-bottom: 120px;

        }
               
        .section-advantages-topic {
            color: #FFF;
                    text-align: center;
                    font-size: 56px;
                    font-weight: 700;
                    line-height: 1.07;
                    letter-spacing: 0.02em;
                    margin-bottom: 48px;
                    max-width: 496px;
                    
                }
        
                   

.section-advantages-main-button:focus,
.section-advantages-main-button:hover {
    background-color: #404BBF
}
.section-advantages-main-button {
    background: #4d5ae5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;}
                    
                
        
                .section-advantages-title {
                    color:#2E2F42;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                margin-bottom: 8px;}
        
                .section-advantages-text {
                    color:#434455;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.02em;}

                .section-team-content {
                    padding-top: 120px;
                    background: #F4F4FD;}
        
                .section-team-topic {
                    color:#2E2F42;
                    text-align: center;
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 1.11;
                    letter-spacing: 0.02em;
                    text-transform: capitalize;}

                     .section-team-subtopic { 
                        background:  #FFF;}
        .section-team-img{
            padding-bottom: 32px;
        }
        
                .section-team-name {
                    color: #2E2F42;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: 0.02em;}
        
                .section-team-wark {
                    color:  #434455;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.02em;}
        
                

                      .section-team-subtopic { 
                        background:  #FFF;}

                  .portfolio{
                    padding-top: 120px;
                  }

                 .section-warck-topic {
                     color:#2E2F42;
                     text-align: center;
                      font-size: 36px;
                     font-weight: 700;
                     line-height: 1.11;
                     letter-spacing: 0.02em;
                     text-transform: capitalize;
                     margin-bottom: 72px;
                 }

                .section-warck-img{
                    margin-bottom: 32px;}

                 .section-warck-subtopic {
                        background:  #FFF;
                 }
        
                   

                    .section-warck-title-type{color:  #2E2F42;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1.2;
                        letter-spacing: 0.02em;}
                   
                        
                        .section-warck-text{
                            color:  #434455;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 1.5;
                            letter-spacing: 0.02em;}
                           
                          
                      .footer-text-part{   color: #F4F4FD;
                         font-family: Raleway;
                         font-size: 18px;
                         font-style: normal;
                         font-weight: 700;
                         line-height: 1.17;
                         letter-spacing: 0.03em;
                         text-transform: uppercase;}

                       

        .footer{
            padding-top: 100px;
            padding-bottom: 100px;}

                .footer-text {color:  #F4F4FD;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
            }